<div class="card ">
  <div class="card-header bg-success">
    <h3>Ingreso</h3>
  </div>
  <div class="card-body ">

    <form>
      <div class="form-group row">
        <label for="id" class="col-form-label col-sm-4">Identificacion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="ave.cdAve" name="id">
        </div>
      </div>

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-4">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="ave.dsNombreComun" name="nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="Cientifico" class="col-form-label col-sm-4">Nombre Científico</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="ave.dsNombreCientifico" name="Cientifico">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2 btn-group">

          <button class="btn btn-primary" role="button" (click)='crear()'
            *ngIf="!ave.cdAve else elseBlock">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='crear()'>Editar</button>
          </ng-template>

          <button class="btn btn-primary" role="button" (click)='eliminar(ave)'>Eliminar</button>

          <button class="btn btn-primary" role="button" (click)='limpiar()'>Limpiar</button>

        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header ">
    <h4>Listado de Aves</h4>
  </div>
  <div class="card-body">

    <div class="form-group row">
      <div class="col-sm-6">
        <label for="sel1">Nombre Comun o Nombre Científico</label>
        <input [(ngModel)]="ave.filtrar" (keyup)="buscarCoincidencia($event)" class="search-input form-control" />
      </div>

      <div class="col-sm-6">
        <label for="sel1">Seleccionar Zona:</label>
        <select class="form-control" [(ngModel)]="ave.filtrarZona" (change)="buscarPorZona()">
          <option *ngFor="let obj of zonas" [value]="obj.dsNombre" >
            {{obj.dsNombre}}</option>
        </select>
      </div>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>Nombre </th>
        <th>Científico</th>
      </tr>
      <tr *ngFor="let val of aves" class="table-group-item table-group-item-action" (click)="editar(val)"
        [class.active]="val == ave">
        <th>{{val.dsNombreComun}}</th>
        <th>{{val.dsNombreCientifico}}</th>
      </tr>
    </table>
  </div>
</div>

<router-outlet></router-outlet>